
/* 네브바 배경색 */
.navbar-light{
    background-color: #8fd176;
  }
  /* 로고 사진 */
  .custom-image{
    margin-right: 10px;
  }
/* "그림 그리기" 버튼 스타일링 */
button#button111 {
    font-size: 27px;
    font-family: 'Dongle', sans-serif;
    background-color: #35A20D;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    width: 130px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

/* "그림 그리기" 버튼에 호버(마우스 오버) 효과 추가 */
button#button111:hover {
    background-color: #52de2b;
}

/* "영양 정보" 버튼 스타일링 */
button#button222 {
    font-size: 27px;
    font-family: 'Dongle', sans-serif;
    background-color: #35A20D;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    width: 130px;
    transition: background-color 0.3s ease;
}

/* "영양 정보" 버튼에 호버(마우스 오버) 효과 추가 */
button#button222:hover {
    background-color: #52de2b;
}

/* 버튼 1과 버튼 2 사이에 간격을 설정 */
.navbar-button button {
    margin-right: 10px;
}


#food-text2 {
font-family: 'Dongle', sans-serif;
font-size: 24px;
color: rgb(0, 0, 0);
text-align: center;
}
#food-text3{
    margin-top: 10px; font-family: 'Dongle', sans-serif;
    font-size: 60px; text-align: center; 
    position: relative;
}

.square-box {
width: 700px;
height: 550px;
background-color: #FFF4E7;
margin-top: 60px; /* 원하는 만큼의 값으로 조정 */
margin-left: 2vw; /* 화면 왼쪽에서 떨어지는 여백 조정 (20vw는 뷰포트 너비의 20%를 의미) */
}
.square-box2{
    border: 4px solid #000; background-color: white; margin-top: 20px; margin-left: auto; margin-right: auto; width: 500px; 
  height: 350px; display: flex; justify-content: center; align-items: center;
}
.custom-button {
font-size: 27px; 
font-family: 'Dongle', sans-serif;/* 폰트 설정 */
background-color: #fda5a5;
color: #ffffff;
border: none;
border-radius: 15px;
padding: 10px 20px;
cursor: pointer; 
width: 90px; /*원하는 너비로 조정  */
height: 55px; 
}
.circle {
width: 550px;
height: 280px;
border-radius: 50%;
background-color: #ffd5d5;
margin-left: 850px; /* 요소를 오른쪽으로 이동시키는 값 */
margin-top: -580px;
margin-bottom: 30px; /* 하단 간격 조절 */
white-space: pre;
}

.circle2 {
width: 550px;
height: 280px;
border-radius: 50%;
background-color: #ffd5d5;
margin-left: 850px; /* 요소를 오른쪽으로 이동시키는 값 */
margin-top: -10px;
margin-bottom: 30px; /* 하단 간격 조절 */
}
.toggle-button {
    font-family: 'Dongle', sans-serif;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: #45a049;
}


/* 전체 페이지 배경색 설정 */
body {
    background-color: #FDF9D7; 
}
/* 오늘 먹은 음식 전체 박스 */
.square-box{
    border: 4px solid #000;
}
/* 오늘 내 몸 안에 들어있는 음식은? */
#food-text2{
    margin-top: 10px; font-family: 'Dongle', sans-serif;
    font-size: 26px;
}

 /* 모버알 사이즈 스타일 */
 @media (min-width: 428px) {
    .square-box{
        border: 4px solid #000;
        width: 470px;
        height: 530px;
    }
#food-text3{
    font-size: 25px;
}
    .custom-button {
        font-size: 19px;
        width: 70px;
        height: 55px;
        margin-top: 30px; /* 아래로 10픽셀 내림 */
    }
    .buger{
        width: 200px;
        height: 30x;
     }
        .square-box2{
        border: 4px solid #000; background-color: white; margin-top: 20px;
        width: 350px; 
        height: 300px; display: flex; 
        justify-content: center; align-items: center;
        }
        .toggle-button {
            margin-top: 20px; /* 아래로 10픽셀 내림 */
            margin-right: 100px; /* 오른쪽으로 많이 이동 */
        }
        
}
  



    /* 테블릿 사이즈 스타일 */
    @media (min-width: 501px) and (max-width: 836px) {
        .square-box{
            border: 4px solid #000;
            width: 720px;
            height: 510px;
        }
        #food-text2{
            font-size: 35px;
        }
    #food-text3{
        font-size: 40px;
    }
        .custom-button {
            font-size: 20px;
            width: 70px;
            height: 60px;
            margin-top: 10px; /* 아래로 10픽셀 내림 */
        }
        .buger{
            width: 230px;
            height: 30x;
         }
            .square-box2{
            border: 4px solid #000; background-color: white; margin-top: 20px;
            width: 500px; 
            height: 300px; display: flex; 
            justify-content: center; align-items: center;
            }
            .circle {
                width: 550px;
                height: 280px;
                border-radius: 50%;
                background-color: #ffd5d5;
                margin-left: 850px;
                margin-top: 100px; /* 아래쪽으로 100픽셀 위치 */
                white-space: pre;
            }
            .toggle-button {
                margin-top: 10px; /* 아래로 10픽셀 내림 */
                margin-right: 100px; /* 오른쪽으로 많이 이동 */
            }
            
            
            
      
}

 /* 데스크탑 사이즈 스타일 */
 @media (min-width: 835px) and (max-width: 6000px) {
    .square-box{
        border: 4px solid #000;
        width: 730px;
        height: 570px;
    }
    #food-text2{
        font-size: 40px;
    }
#food-text3{
    font-size: 50px;
    margin-top: 13px; /* 아래로 10픽셀 내림 */
}
    .custom-button {
        font-size: 30px;
        width: 80px;
        height: 65px;
        margin-top: 13px; /* 아래로 10픽셀 내림 */
    }
    .buger{
        width: 230px;
        height: 30x;
     }
        .square-box2{
        border: 4px solid #000; background-color: white; margin-top: 20px;
        width: 515px; 
        height: 330px; display: flex; 
        justify-content: center; align-items: center;
        }
        .circle {
            width: 550px;
            height: 280px;
            border-radius: 50%;
            background-color: #ffd5d5;
            margin-left: 850px; /* 요소를 오른쪽으로 이동시키는 값 */
            margin-top: -580px;
            margin-bottom: 30px; /* 하단 간격 조절 */
            white-space: pre;
            }
            .circle2 {
                width: 550px;
                height: 280px;
                border-radius: 50%;
                background-color: #ffd5d5;
                margin-left: 850px; /* 요소를 오른쪽으로 이동시키는 값 */
                margin-top: -10px;
                margin-bottom: 30px; /* 하단 간격 조절 */
                }
    }
  